#Driverdash-container{
    position: fixed;
    width: 100%;
    height: 100%;
}

#dashboard-wrapper{
    position: relative;
    left: 6.5%;
    padding: 2rem 3rem 3rem 3rem;
    background: white;
    border-radius: 1em;
    border: 1px solid rgba(91, 105, 135, 0.22);
    border-radius: 24px;
    box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
    width: 30rem;
    height: 40rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard-h2{
    font-size: 35px;
}

#dashboard-table{
    position: relative;
}

#submitc{

}
#submitc:hover{
    transition: all 0.3s ease-out;
    background: #002d72;
    color: #fff;
    transition: 250ms;
}
#submiti{

}
#submiti:hover{
    transition: all 0.3s ease-out;
    background: #002d72;
    color: #fff;
    transition: 250ms;
}

#map_section{
    margin-left: 5ch;
    margin-top: 2ch;
}