.ellipse-menu-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  float: right;
  min-width: 10vw;
  right: 0.5%;
  min-height: 1vh;
  background-color: white;
  border-radius: 7px;
  margin-top: 0.5%;
  box-shadow: 0px 10px 30px 2px #2b2b2bd1;
  backdrop-filter: blur(10px);
}

.ellipse-menu-user-name {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  min-width: 65%;
  font-size: 25px;
  
}

.ellipse-menu {
  position: relative;
  margin-top: 16px;
  width: 10%;
  height: 109%;
  margin-left: 10%;
  margin-right: 0%;
  
}

.ellipse-menu:hover {
  cursor: pointer;
}

.menu-parent-container {
  position: relative;
  top:5%;
  /*margin-left: 20vw; */
  display: "inline-block";
  position: absolute;
  float: right;
  /* right: 0; */
  right: 7px;
  /* margin-right: 16px; */
  z-index: 2;
}
.menu-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 12vw;
  border-radius: 10px;
  border: 2px solid black;
  background-color: black;
  opacity: 0.9;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 10px 10px;
}

.menu-wrapper .menu-list .menu-list-item {
  position: relative;
  list-style: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 10px;
  transition: 0.2s;
}

.menu-wrapper .menu-list .menu-list-item:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.item-delete-account,
.item-delete-account:hover {
  color: red;
}

.menu-list-item-divider {
  position: relative;
  width: 80%;
  height: 0.0001px;
  background-color: #888a89;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
}

@media screen and (max-width: 414px){
  .ellipse-menu-container {
    top: 9%;
    right: 28%;
  }
  .menu-parent-container {
    top: 15%;
    right: 29.5%;
  }
}
@media screen and (max-width:390px){
  .ellipse-menu-container {
    top: 10%;
    right: 26%;
  }
  .menu-parent-container {
    top: 15%;
    right: 29.5%;
  }
}
@media screen and (max-width:375px){
  .ellipse-menu-container {
    top: 12.5%;
    right: 25.5%;
  }
  .menu-parent-container {
    top: 20%;
    right: 28%;
  }
}