/* Drivers requests css */
#DriverRequests-container {
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: center;
}

#Driver-requests-table{
    position: fixed;
    top: 28%;
    left: 28%;
    width: 80%;
}

.requests-drivertable{
    border-radius: 1em;
    text-align: center;
    background-color: white;
    height: auto;
    width: 80%;
    position: relative;
    left: 5%;
    border: solid;
}

#requests-th {
    text-decoration: underline;
    font-size: 18px;
}

.end_shift{
    position: fixed;
    top: 28%;
    left: 20%;
    height: 5rem;
    width: 8rem;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background: rgb(235 114 0 / 93%);
    vertical-align: middle;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    border-radius: 0.2rem;
}
.end_shift:hover{
    background: rgba(202, 98, 0, 0.93);
}

.end_form_container {
    position: relative;
    text-align: center;
    top: 35%;
    left: 2.5%;
    margin-right: auto;
    margin-left: auto;
    height: 10rem;
    width: 30rem;
    box-shadow: 0px 10px 45px 0px #2b2b2bd1;
    background: rgb(255 255 255 / 90%);
    backdrop-filter: blur(8px);
    border-radius: 1em;
    padding: 2em 2em 2em 2em;
}

#ride-requests-overlay{
    position: fixed;
    bottom: 110%;
    height: 100%;
    width: 86.1%;
    left: 13.8%;
    background-color: rgba(255, 255, 255, 0.007);
    z-index: 999;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0px 10px 10px 0px #2b2b2bd1;
    backdrop-filter: blur(8px);
    transition: all 0.5s ease;
}

#ride-requests-overlay-active {
    position: fixed;
    bottom: 0.5%;
    height: 100%;
    width: 86.1%;
    left: 13.8%;
    background-color: rgba(255, 255, 255, 0.007);
    z-index: 999;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0px 10px 10px 0px #2b2b2bd1;
    backdrop-filter: blur(8px);
    transition: all 0.5s ease;
}

#end-shift-btn, #requests-submit {
    position: relative;
    cursor: pointer;
    height: 3rem;
    width: 5rem;
    font-size: 18px;
    border-radius: 0.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(235 114 0 / 93%);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    margin-left: 1em;
}

#end-shift-form {
    position: relative;
    top: 20%;
}

#end-shift-btn:hover, #requests-submit:hover {
    background: rgba(190, 92, 0, 0.93);
}

#driver-requests-p {
    position: relative;
    margin-left: 7ch;
    margin-top: 2ch;
}

#confirm-p {
    position: relative;
    font-size: 20px;
}

#requests-feedback{
    position: relative;
    left: 20%;
    top: 20%;
}

#requests-accept-btn, #requests-decline-btn{
    position: relative;
    cursor: pointer;
    height: 2rem;
    width: 3rem;
    font-size: 13px;
    border-radius: 0.2em;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(235 114 0 / 93%);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

#requests-accept-btn:hover, #requests-decline-btn:hover{
    background: rgba(190, 92, 0, 0.93);
}

@media screen and (max-width:1280px){

    #ride-requests-overlay-active, #ride-requests-overlay{
        left: 20%;
        width: 80%;
    }
    #ride-requests-overlay{
        left: 20%;
    }
    .end_form_container{
        left: 5.5%;
    }
    #Driver-requests-table{
        top: 33%;
        left: 32%;
    }

    .end_shift{
        top: 33%;
        left: 23%;
    }

    #requests-feedback{
        left: 24%;
    }
}
@media screen and (max-width:1024px){
    #Driver-requests-table{
        top: 33%;
        left: 32%;
    }
    #ride-requests-overlay-active, #ride-requests-overlay{
        left: 25%;
        width: 75%;
    }
    .end_form_container{
        left: 2.5%;
    }

    .end_shift{
        font-size: 15px;
        height: 3rem;
        width: 5rem;
        left: 27%;
    }

    #requests-feedback{
        top: 15%;
        left: 27%;
        font-size: 14px;
    }

    #requests-th {
        text-decoration: underline;
        font-size: 15px;
    }

    #requests-tr-data > td {
        font-size: 13px;
    }

    #requests-accept-btn, #requests-decline-btn{
        height: 1.5rem;
        width: 3rem;
    }
}
@media screen and (max-width: 414px){
    #Driver-requests-table{
        top: 43%;
        left: -5%;
        width: 100%;
    }
    .requests-drivertable{
        width: 100%;
    }
    #ride-requests-overlay-active, #ride-requests-overlay{
        width: 100%;
        left: 0%;
    }

    .end_form_container{
        width: 100%;
        top: 28%;
        left: 0%;
    }
    
    .end_shift{
        left: 40%;
    }
    
    #requests-feedback{
        top: 21%;
        left: 40%;
    }
    #requests-th {
        text-decoration: underline;
        font-size: 11px;
    }
    #requests-tr-data > td {
        font-size: 10px;
    }

    #requests-accept-btn, #requests-decline-btn{
        height: 1.1rem;
        width: 2.1rem;
        font-size: 9px;
    }

}
@media screen and (max-width:390px){
    #ride-requests-overlay-active, #ride-requests-overlay{
        width: 100%;
        left: 0%;
    }
    .end_shift{ 
        top: 32%;
        height: 2rem;
    }
}
@media screen and (max-width:375px){
    .end_shift{ 
        top: 37%;
        left: 30%;
        height: 2rem;
    }

    #requests-feedback{
        top: 18%;
        left: 55%;
    }
}


