.service-parent-conatiner{
    background-color: rgb(247, 199, 111);
    background-size: contain;
    width: 100vw;
    height: 100vh;
}
#font-format  {
    color: orangered;
    font-weight: 400;
    font-size: 30px;
}

#font-formats  {
    position: relative;
    
    color: orangered;
    font-weight: 400;
    font-size: 30px;
}
#font-formatc {
    color: orangered;
    font-weight: 400;
    font-size: 30px;
}

#font-formata {
    color: orangered;
    font-weight: 400;
    font-size: 30px;
}

.service-container{
    position: relative;
    width: 65vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 68vh;
    background: #FFF;
    border-radius: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.service-parent-conatiner{
    background-color: rgb(255, 200, 172);
    position: relative;
    padding-top: 8%;
}
#service-top{
    position: relative;
    display: inline-block;
    height: 275px;
    left: 8%;

}
#service-location{
    position: relative;
    display: inline-block;
    height: 275px;
    left: 20%;
}

#service-middle {
   position: relative;
   display: inline-block;
   height: 275px;
   left: 35%;
   bottom: 25%;
    
}

.selections{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.service-items{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.957rem 0;
    position: relative;
}

#service-info {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
input[id="service-input"] {
    display: block;
    box-sizing: border-box;
    margin-top: 8px;
    width: 150px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    
}
.bottom-containers{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

input[class="service-input"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

#service-submit{
    appearance: none;
    margin: 0px;
    overflow: visible;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0px 0.5rem;
    background:rgb(235 114 0 / 93%);
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    line-height: 44px;
    height: 48px;
    min-width: 40px;
    max-width: none;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    width: 30%;
    left: 60%;
    top:-40%;
      
}
  
#service-submit:hover{
    cursor: pointer;
    background: rgb(212 103 0 / 93%);
}
  
.service-error-msg {
    position: relative;
    top: 10%;
    font-size: 0.8em;
    margin-top: -1.5em;
    color: red;
}
#contactus-form{
    height: 80%;
}
#commenti{
    border-radius: 5px;
    position: relative;
    top: 1rem;
    border: 1px solid #242424;
}
#service-label{
    margin-left: 1ch;
}
#service-bottom{
    position: relative;
    left: 8%;
    bottom: 28%;
}
.service-error-msg {
    left: 12%;
    position: relative;
    color: red;
}

input[id="service-submit"] {
    position: relative;
    left: -15%;
    margin-top: -7%;
    width: 28ch;
    height: 2.5em;
    background: #16a085;
    border: none;
    border-radius: 1.5em;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  input[id="service-submit"]:hover,
  input[id="service-submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[id="service-submit"]:active {
  
    box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  @media only screen and (max-device-width: 767px) {

    .service-container{
        margin-top: 10%;
        margin: 20% auto;
        width: 95vw;
        height: 70vh;
    }
    #font-format  {
        font-weight: 300;
        font-size: 20px;
    }
    #contact-top{
        left: 2rem;
        top:1rem;
    }
    #contact-location{
        top:1.1rem;
        height: 750px;
        left:4rem;
    }
    
    input[id="service-submit"] {
        position: relative;
        bottom: 33%;
        right: 24.7%;
        
        font-weight: 400;
        
    }

    #service-middle {
        height: 175px;
        left: 11%;
        bottom: 34%;
         
     }
     #service-bottom{
        left: 11%;
        bottom: 35%;
    }
    input[id="service-input"] {
        margin-top: 7px;
        width: 120px;
        height: 15px;
        font-weight: 400;
        font-size: 10px;
    }

    .service-items{
        padding: 0.3rem 0;
       
    }

    #contact-submit{
        position: relative;
        bottom:35%;
        margin-right: 1ch;
        justify-content: center;
  } 
}

  @media only screen and (max-device-width: 375px){

    .service-container{
        height: 83vh;
    }
    #service-info{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    #font-formatc,#font-formata,#font-formats{
        font-size: 20px;
    }
    #service-label {
        font-size: 12px;
    }
    #service-middle {
        height: 300px;
        left: 23%;
        bottom: 15%;
         
     }
     #service-bottom{
        left: 19%;
        bottom: 38%;
    }
    #service-location{
        height: 19rem;
        left: 15%;
        top: 0.6%;
    }
    #service-submit{
        left: -40%;
    }
    #service-top{
        left:5%;
    }
    #service-middle {
        height: 175px;
        left: 6rem;
        bottom: 25%; 
    }

    #service-bottom{
        left: 4rem;
        bottom: 37%;
    }
    #commenti {
        width:14.5rem;
        height: 4rem;
         top: 0.5rem;
     }
     #service-submit{
        left: 7.5rem;
       top: -28%;
       height: 3rem;
       width: 7rem;
       
    }
  }

  @media only screen and (max-device-width: 390px){
   
    #service-info {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    #font-formatc, #font-formats,#font-formata {
        font-size: 20px;
    }
    #service-top{
        left:5%;
    }
    #service-location{
        height: 19rem;
        left: 15%;
        top: 0.6%;
    }
    #service-label {
        font-size: 12px;
    }
    #commenti {
       width:14.5rem;
       height: 4rem;
        top: 0.5rem;
    }
    #service-middle {
        height: 175px;
        left: 6rem;
        bottom: 25%; 
    }
    #service-bottom{
        left: 4rem;
        bottom: 37%;
    }
    #service-submit{
        left: 7.5rem;
       top: -28%;
       height: 3rem;
       width: 7rem;
       
    }
   
  }