.profile-container{
   position: relative;
   justify-content: center; 
   margin-left: 10ch;
  
}
#change-profile{
    font-size: 3.5ch;
}
#change-profilei{
    position: relative;
    font-size: 3.5ch;
    top: 4.5ch;
}
#change-profilec{
    position: relative;
    font-size: 3.5ch;
    top: 2ch;
}
#employee_name{
    position: relative;
    margin-left: 1.9ch;
    top: 0.2ch;
    width: 20%;
  padding: 7px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#input{
    margin-top: 2ch;
}
#inputemail{
    position: relative;
    /* margin-top: 0.2ch; */
    
}
#employee_email{
    position: relative;
    /* bottom: 1ch; */
    width: 20%;
  padding: 7px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#submit{
    position: relative;
    top: 1rem;
    left: 5rem;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    /* background-color: #2d15e2; */
}

#submit-profile{
    position: relative;
    top: 1rem;
    left: 5.3rem;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #002d72;
}

#submit-pass{
    position: relative;
    top: 1rem;
    left: 5rem;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    color:white;
    background-color: #002d72;
    
}

 #submit-dlt{
    position: relative;
    top: 1rem;
    left: 5.3rem;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #002d72;
    margin-top: 2rem;
 }  
 
 #submit-profile:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }

 #submit-pass:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }
 
 #submit-dlt:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }
#submit:hover{
    transition: all 0.3s ease-out;
    background: #ff7248;
    color: #fff;
    transition: 250ms;
}
.change{
    position: relative;
    top: 5ch;
}

#old_password{
    width: 20%;
    padding: 7px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#new_password_field{
    width: 20%;
    padding: 7px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#confirm_password{
    width: 20%;
    padding: 7px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.delete_confirmation{
    margin-top: 3rem;
    color: red;
}
