@import url('https://unpkg.com/leaflet@1.9.2/dist/leaflet.css');
@import url('https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css');
@import url('https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css');
@import url('https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

#map {
   
    position: relative;
    top: 9rem;
    min-height: 80vh;
    min-width: 90%;
   right: 5%;
    

}

.leaflet-touch .leaflet-control-geocoder {
    visibility: hidden;
}