.dropdown-box{
    /* CODE HERE */
}

.dropdown-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
}

.dropdown-list-item{
    /* CODE HERE */
}

.dropdown-list-item a {
    text-decoration: none;
    /* CODE HERE */
}