#connect-container{
    position: relative;
    top: 5%;
    left: 1.8%;
    border-radius: 0.5em;
    background-color: white;
    height: 80vh;
    width: 95vw;
}

#loading-screen{
    position: relative;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    top: 6.5%;
    background: #000000;
    width: 95vw;
    height: 25vh;
    text-align: center;
}

#please-wait{
    position: relative;
    color: #ffffff;
    top: 5%;
    font-size: 30px;
} 
#mobile-please-wait{
    display: none;
}

#appreciate{
    font-size: 23px;
    color: #ffffff;
}


#load-symbol {
    position: relative;
    top: 15%;
    left: 49%;
}

@media screen and (max-width: 414px) {
    #connect-container{
        left: 2.5%;
    }

    #please-wait{
        display: none;
    } 

    #appreciate{
        position: relative;
        top: 15%;
        font-size: 15px; 
    }
    
    #mobile-please-wait{
        display: initial;
        position: relative;
        color: #ffffff;
        top: 10%;
        font-size: 20px;
    }

    #load-symbol{
        top: 30%;
        left: 43%;
    }

}
@media screen and (max-width: 390px) {

}

@media screen and (max-width: 375px) {


}