/* Contains css for Admin-News/Admin-Home/Admin-Roles/Admin-DriversEdit pages */

  #admin-h1 {
    font-size: 3rem;
    font-weight: 200;
    margin-top: 3%;
    margin-left: 7rem;
  }

  input[type=color] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: -2px;
  }

  input[type=datetime-local] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: -2px;
  }

  #account-h3 {
    color: black;
  }

  .edit{
    transition-duration: 0.4s;
    padding: 5px;
  }
  
  .edit:hover {
    background-color: #e64c1b; /* blue*/
    color: white;
    border-radius: 0.5rem;
  }
  .delete{
    transition-duration: 0.4s;
    padding: 5px;
  }
  
  .delete:hover {
    background-color: rgb(243, 73, 73); /* */
    color: white;
  }

  .editi{
    transition-duration: 0.4s;
    padding: 10px 35px;
    margin-top: 2ch;
  }
  
  .editi:hover {
    background-color:#e64c1b; /* blue*/
    color: white;
    border-radius: 0.5rem;
  }
  .editnews{
    transition-duration: 0.4s;
    padding: 10px 35px;
    margin-top: 2ch;
    width: 19.3rem;
    color:white;
    background-color: #002d72;
    border: none;
    border-radius: 3px;
    margin-left: 4.8rem;
  }
  
  #link{
    margin-top: 5ch;
  }
  .deletei{
    transition-duration: 0.4s;
    padding: 10px 35px;
    margin-top: 2ch;
  }
  
  .deletei:hover {
    background-color: rgb(243, 73, 73); /* */
    color: white;
  }

  #Add-button {
    position: fixed;
    z-index: 900;
    top: 5%;
    left: 95%;
    width: 2rem;
    height: 2rem;
  }
 
    /* Drivers list edit css */
  .DriversEdit-container{
      position: relative;
      display: inline-block;
      width: 80%;
      height: 100vh;
      left: 20%;
  }
  .editdriver{
    margin-left: 0ch;
    margin-top: 15ch;
  }
  
  .adriver{
    margin-left: 55%;
    margin-top: -27ch;
  }

  /* Admin list edit css */


  /* Admin roles edit css */
  .AdminRoles-container{
    position: fixed;
    display: inline-block;
    width: 80%;
    height: 100vh;
    left: 20%;
  }

  /* Contact request css */
  .contactRequest-container {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 100vh;
    left: 20%;
  }

  /* ride request css */
  .ride-request-container{
    position: relative;
    display: inline-block;
    width: 80%;
    height: 100vh;
    left: 20%;
  }

  #homepage{
    border-collapse: collapse;
  width: 20%;
  height: 18.5vh;
  
  }

  #homepage td, #homegae th {
    border: 1px solid #ddd;
    padding: 10px;
    
  }

  #file-typ{
    margin-left: 3rem;
  }

  #add-me{
    margin-left: 3rem;
    margin-top: 1rem;
    color:white;
    background-color: #002d72;
    border-radius: 3px;
    border: none;
    width: 4rem;
    height: 2rem;
  }

  #hit-me{
    margin-top: 1rem;
    color:white;
    background-color: #002d72;
    border-radius: 3px;
    border: none;
    width: 4rem;
    height: 2rem;
  }

  /* News edit css */
  .AdminNews-container{
    position: relative;
    display: inline-block;
    width: 30vw;
    height: 65vh;
    left: 20%;
    border: 1px solid;
    border-radius: 1rem;
    box-shadow: 5px 10px 18px #888888;
  }

  #mytable1{
    margin-left: 3.5rem;
    border: none;
  }

  /* Background edit home */
  .bghome-container {
    position: relative;
    display: inline-block;
    width: 80vw;
    height: 100vh;
    left: 25rem;
    margin-top: 10rem;
  }

  /* Background about home */

  .bgabout-container{
    position: relative;
    display: inline-block;
    width: 80%;
    height: 100vh;
    left: 20%;
  }

  /* Background contact home */
  .bgcontact-container {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 100vh;
    left: 20%;
  }
  
  .Drivertable{
    width: 70%;
    position: relative;
    left: 5%;
    /* border: solid; */
  }
  .fa-solid{
    width: 35px;
  }
  .Drivertablei{
    width: 80%;
    justify-content: center;
    margin-left: 10ch;
    margin-top: 5ch;
    border-radius: 0.5rem;
    border: solid;
  }

   /* overlay form */
   .overlay-visibleEdit{
    position: fixed;
    box-shadow: 0px 10px 10px 0px #2b2b2bd1;
    backdrop-filter: blur(10px);
    left: 16.2rem;
    width: 86%;
    height: 99vh;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.5s ease;
    z-index: 999;
  }
  .overlay-hiddenEdit{
    position: fixed;
    height: 0;
    width: 86%;
    left: 16rem;
    transition: all 0.5s ease;
    top: -250px;
  }

  #add-closeOverlay-btn-role {
    position: relative;
    left: 86%;
  }

  #edit-closeOverlay-btn-role {
    position: relative;
    left: 86%;
  }

  #edit-closeOverlay-btn-driver {
    position: relative;
    left: 86%;
  }

  #add-closeOverlay-btn-driver {
    position: relative;
    left: 86%;
  }

  #edit-closeOverlay-btn-admin {
    position: relative;
    left: 86%;
  }

  #add-closeOverlay-btn-admin {
    position: relative;
    left: 86%;
  }

.overlay-visibleAdd{
  position: fixed;
  box-shadow: 0px 10px 10px 0px #2b2b2bd1;
  backdrop-filter: blur(8px);
  left: 16.2rem;
  width: 86%;
  height: 99vh;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.5s ease;
  z-index: 999;
}
.overlay-hiddenAdd{
  position: fixed;
  left: 16rem;
  height: 40vh;
  width: 86%;
  transition: all 0.5s ease;
  top: -400px;
}

.add-role-hidden{
  position: relative;
  width: 20.5rem;
  top: -40vh;
  left: 35vw;
  border-radius: 1rem;
  padding: 1em;
  transition: all 0.5s ease;
  z-index: 999;
}

.add-role{
  position: relative;
  width: 20.5rem;
  top: 30vh;
  left: 35vw;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #2b2b2bd1;
  border-radius: 1rem;
  padding: 1em;
  transition: all 0.5s ease;
  z-index: 999;
}

.edit-role-hidden{
  position: relative;
  width: 20rem;
  top: -40vh;
  left: 35vw;
  border-radius: 1rem;
  padding: 1em;
  transition: all 0.5s ease;
  z-index: 999;
}
.edit-role{
  position: relative;
  width: 20rem;
  top: 30vh;
  left: 35vw;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #2b2b2bd1;
  border-radius: 1rem;
  padding: 1em;
  transition: all 0.5s ease;
  z-index: 999;
}
/* Admin news page*/
.AdminNews-container{
  position: relative;
  left: 45%;
  top: 10%;
}

@media screen and (max-device-width: 390px){

  .contactRequest-container {
    position: relative;
   margin-top: 30%;
   overflow-x: scroll;
    height: 100vh;
    left: 0%;
    width: 100%;
  }
  
  /* News edit css */
  .AdminNews-container{
    width: 70%;
    left: 60%;
  }

  /* Background edit home */
  .bghome-container {
    width: 100%;
    margin-top: 30%;
    right: 5%;
    left: 0%;
    overflow-x: scroll;
  }

  /* Background about home */
  .bgabout-container{
    width: 100%;
    margin-top: 30%;
    right: 5%;
    left: 0%;
    overflow-x: scroll;
  }

  /* Background contact home */
  .bgcontact-container {
    width: 100%;
    margin-top: 30%;
    right: 0%;
    left: 0%;
    overflow-x: scroll;
  }

  .AdminRoles-container{
   margin-top: 30%;
    width: 30%;
    height: 100vh;
    left: 17%;
    
  }

  .AdminEdit-container {
    margin-top: 30%;
    width: 95%;
    height: 100vh;
     left: 3%;
     overflow-x: scroll;
  }

  .Drivertable{
    left: 0%;
  }

  .Drivertablei{
    margin-left: 1ch;
    margin-top: 4ch;
  } 

  #admin-h1 {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
  }

  .ride-request-container{
    height: 100vh;
    width: 100%;
    left: 0%;
    margin-top: 30%;
    overflow-x: scroll;
  }

  .AdminNews-container{
    left: 12%;
    margin-top: 20%;
  }

  #Add-button {
    position: fixed;
    z-index: 900;
    top: 16%;
    left: 90%;
   
  }

  .driver-tab{
    width: 100%;
    overflow-x: scroll ;
  }

}