  /* Admin roles edit css */
  #edit-roles-table-container{
    position: relative;
    top: 2%;
  }
  .edit-roles-table{
    position: relative;
    width: 50rem;
    background-color: white;
    border-radius: 1em;
    text-align: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    left: 7%;
    border: solid; 
  }

  #edit-roles-h1{
    position: relative;
    left: 39.5%;
    font-size: 3rem;
    font-weight: 200;
    margin-top: 3%;
    margin-left: 7rem;
  }


@media screen and (max-width:1280px){
  .edit-roles-table{
    left: 13%;
  }
  #edit-roles-h1{
    left: 37%;
  }
}
@media screen and (max-width:1024px){
  .edit-roles-table{
    width: 40rem;
    left: 17.5%;
  }
  #edit-roles-h1{
    left: 37%;
  }
}
@media screen and (max-width: 767px){
  .edit-roles-table{
    width: 30rem;
    left: 17%;
  }
  #edit-roles-h1{
    left: 25%;
  }
}
@media screen and (max-width: 414px){

  #edit-roles-table-container{
    top: 14.5%;
  }
  .edit-roles-table{
    width: 25rem;
    left: 0;
  }
  #edit-roles-h1{
    left: -6%;
    font-size: 30px;
  }
}
@media screen and (max-width:390px){
  .edit-roles-table{
    width: 24.2rem;
    left: 0;
  }
  #edit-roles-h1{
    left: -9%;
  }
}
@media screen and (max-width:375px){
  #edit-roles-table-container{
    top: 16%;
  }
  .edit-roles-table{
    width: 23rem;
    left: 0;
  }
  #edit-roles-h1{
    font-size: 20px;
    left: -1%;
  }
}

