/* Drivers list edit css */
.DriversEdit-container{
    position: fixed;
    width: 100%;
    height: 100vh;
}

.edit-driver-table{
    position: relative;
    width: 80rem;
    background-color: white;
    border-radius: 1em;
    text-align: center;
    height: auto;
    left: 23.05%;
    border: solid; 
}

#Driver-table-container{
    position: relative;
    bottom: 8%;
}

#Driver-edit-h1 {
    position: relative;
    display: flex;
    top: 5%;
    left: 44%;
    font-size: 3rem;
    font-weight: 200;
    margin-top: 3%;
    margin-left: 7rem;
}

@media screen and (max-width:1600px){
    .edit-driver-table{
        left: 18%;
    }
}

@media screen and (max-width:1366px){
    .edit-driver-table{
        left: 22%;
        width: 64rem;
    }
}
@media screen and (max-width:1280px){
    .edit-driver-table{
        left: 21%;
        width: 62.5rem;
    }
}
@media screen and (max-width:1024px){
    .edit-driver-table{
        left: 26.5%;
        width: 46rem;
    }
    #Driver-edit-h1 {
        left: 39%;
    }
}
@media screen and (max-width:767px){
    .edit-driver-table{
        left: 34.5%;
        font-size: 12px;
        width: 31rem;
    }

    #Driver-table-container{
        bottom: 0%;
    }
}
@media screen and (max-width: 414px){
    #Driver-edit-h1 {
        position: relative;
        top: 14%;
        left: -13%;
        font-size: 1.7rem;
        font-weight: 200;
        text-align: center;
    }
    .edit-driver-table{
        top: 14%;
        left: 1%;
        width: 25.5rem;
    }
    #Driver-table-container{
        bottom: -8%;
    }
}
@media screen and (max-width:390px){
    .edit-driver-table{
        width: 24.2rem;
    }
}
@media screen and (max-width:375px){
    .edit-driver-table{
        width: 23.3rem;
        left: 0.2%;
    }
    #Driver-table-container{
        bottom: -11%;
    }
}