<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home</title>
</head>
<body>
<!-- Hamburger menu -->
<div class="container">
    <a href="/employeeprofile">Profile</a> <br> <br>
    <a href="/admin/background">Layout</a> <br>
    <a href="/admin/driverlist">Driver list</a> <br>
    <a href="/admin/adminlist">Admin list</a> <br>
    <a href="/admin/news">News</a> <br>
    <a href="/admin/roles">Roles</a> <br>
    <a href="/admin/services">Service requests</a> <br>
    <a href="/admin/rides">Ride requests</a>
</div>
</body>
</html>