<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bg-contact</title>
</head>
<body>
    
        <table>
                <% images.forEach(image => { %>
                    <tr>
                        <th>Contact page</th>
                        <td><%= image.contact_page %></td>
                        <td>
                            <form action="/background?page=contact" method="POST" enctype="multipart/form-data">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg,image/jpg" value="Edit" name="image">
                                <input type="hidden" name="action" value="for_contact">
                                <input type="submit" value="Add">
                            </form>
                        </td>
                    </tr>
                <% }) %>
        </table>

</body>
</html>