</body>
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script type="text/javascript" src="JS/geolet.js"></script>
<script>
   let userlocationlat = null;
   let userlocationlng = null;
   let startlat = null;
   let startlng = null;
   let destlat = null;
   let destlng =null;
   var map = L.map("map").setView([51.0447, -114.0719], 12); //change longitude latitude to the location of the person
   L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 25,
   }).addTo(map);

   L.geolet({position: "bottomleft", popup: false}).addTo(map);

   userlocationlat = map.locate()._lastCenter.lat;
   userlocationlng = map.locate()._lastCenter.lng;

   function addRoute(){
      startlat = parseFloat(document.getElementById("startlat").value);
      startlng = parseFloat(document.getElementById("startlng").value);
      destlat = parseFloat(document.getElementById("destlat").value);
      destlng = parseFloat(document.getElementById("destlng").value);
      console.log(destlat)
      L.Routing.control({
         waypoints: [L.latLng(startlat, startlng), L.latLng(destlat, destlng)], //for routing change longitude and latitude
      }).addTo(map);
   }
   
   if (document.getElementById("routing").value=="0"){
      document.getElementById("submit").addEventListener("click", () => {
         addRoute();
      if (document.getElementsByTagName("h3")[0]) {
         document.getElementById("h3tags").value = document.getElementsByTagName("h3")[0].innerHTML;
         document.getElementById("location_form").submit();
      }
      });
   
      document.getElementById("gps").addEventListener("click", ()=>{
         var url = "https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat="+userlocationlat+"&lon="+userlocationlng;
         var xmldoc = null;
         return fetch(url)
               .then(response => response.text())
               .then(str =>{
                  document.getElementById("picks").value = JSON.parse(str).display_name;
               })
      });
      document.getElementById("dest").addEventListener("input", ()=>{
         let pickup = document.getElementById("picks").value;
         pickup = pickup.replace(" ","+");
         var url = "https://nominatim.openstreetmap.org/?q="+pickup+"&format=json";
         var xmldoc = null;
         return fetch(url)
               .then(response => response.text())
               .then(str =>{
                  document.getElementById("startlat").value = parseFloat(JSON.parse(str)[0].lat);
                  document.getElementById("startlng").value =  parseFloat(JSON.parse(str)[0].lon);
                  let destination = document.getElementById("dest").value;
                  destination = destination.replace(" ","+");

                  var url = "https://nominatim.openstreetmap.org/?q="+destination+"&format=json";
                  var xmldoc = null;
                  return fetch(url)
                           .then(response => response.text())
                           .then(str =>{
                              document.getElementById("destlat").value = parseFloat(JSON.parse(str)[0].lat);
                              document.getElementById("destlng").value =  parseFloat(JSON.parse(str)[0].lon);
                              
                           })
                  
                  })
               
         
      });
   }
   if (document.getElementById("routing").value=="1"){
      addRoute();
   }


</script>
<footer class="footer">
   <p>This is the footer</p>
   &copy; Copyright <%= //year %>
</footer>
</html>