<ul class="navbar">
    <h1>WeDD</h1>
    <li class="navbar_item"><a href="/">Home</a></li>
    <li class="navbar_item"><a href="/ride">Ride</a></li>
    <li class="navbar_item"><a href="/about">About us</a></li>
    <li class="navbar_item"><a href="/services">Services</a></li>
    <li class="navbar_item"><a href="/news">News</a></li>
    <li class="navbar_item"><a href="/signup">Sign up</a></li>
    <li class="navbar_item"><a href="/login">Login</a></li>
    <li class="navbar_item"><a href="/admin">Admin</a></li>
    <li class="navbar_item"><a href="/driver">Driver</a></li>
</ul>