<%- include("header") -%>

<h3>10% discount for new customers</h3>
<p>WeDD offering a discount of 10% on first 5 rides for new customers.<br>
    Use code: NEWRIDE22<br>
    Offer valid for a limited time.</p>
<h3>Service updates</h3>
<p>WeDD website will be temporarily down on August 24th, 2022 for 6 hours from 4:00 am till 10:00 am Mountain Standard Time.</p>
<h3>Price hike</h3>
<p>Starting January 1st of next year, WeDD will revoke its current fares prices. There will be 5% increase in the fare.</p>

<img src="<%= news_image %> " style="height: 100px; width: 100px;" alt="">

<%- include("footer") -%>