<%- include("header") -%> <%- include("map") -%> <% if (typeof ride_processed === 'undefined') { %>

<h1>Contact Information</h1>
<form method="post" action="/ride">
	<label>Name:</label>
	<input type="text" name="name" /><br />
	<label>Email:</label>
	<input type="email" name="email" /><br />
	<label>Phone:</label>
	<input type="text" name="phone" /><br />
	<h1>Car details</h1>
	<label>Car:</label>
	<input type="text" name="customer_car" /><br />
	<label>Car type:</label>
	<input type="radio" name="car_type" value="automatic" /> Automatic <input type="radio" name="car_type" value="manual" /> Manual <br />
	<h1>Location</h1>
	<label>Pickup address:</label>
	<input type="text" name="pick" id="picks" /><input type="button" value="GPS" id="gps" /><br />
	<label>Destination:</label>
	<input type="text" name="destination" id="dest" /><br />
	<h2>Payment type</h2>
	<table>
		<tr>
			<td><input type="radio" name="pay_mode" value="paymode_credit_card" /></td>
			<td>Credit card</td>
		</tr>
		<tr>
			<td><input type="radio" name="pay_mode" value="paymode_debit_card" /></td>
			<td>Debit card</td>
		</tr>
		<tr>
			<td><input type="radio" name="pay_mode" value="paymode_cash" /></td>
			<td>Cash</td>
		</tr>
	</table>
	<input type="hidden" id="startlat" name="startlat"/>
	<input type="hidden" id="startlng" name="startlng"/>
	<input type="hidden" id="destlat" name="destlat"/>
	<input type="hidden" id="destlng" name="destlng"/>
    <input type="hidden" value=0 id="routing">
	<input type="hidden" name="h3tags" id="h3tags" />
	<input type="submit" id="submit" />
</form>
<% } else if (ride_processed === 'true') { %>
<h5>Request Sent</h5>
<br />
<a href="/ride?action=cancel">Cancel the ride</a>
<% } %> <%- include("footer") -%>