<%- include("header") -%>

<div class="wrapper">
    <section class="form login">
        <h2>Signup</h2>
        <form action="/signup" method="post">
            <label>Full name</label> <br>
            <input type="text" name="name" placeholder="Full name"> <br>
            <label>Email address</label> <br>
            <input type="email" name="email" placeholder="Email Address"> <br>
            <label>Password</label> <br>
            <input type="password" name="password" placeholder="Password"> <br>
            <input type="submit" value="Sign up">
        </form>
        <div class="link">Already have an account? <a href="index.php">Login now</a></div>
    </section>
</div>

<%- include("footer") -%>