/* Driver Account Nametag */

#employee-name-tag{
    position: relative;
    left: 44%;
    height: 10rem;
    background-color: white;
    width: 30rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 10px 45px 0px #2b2b2bd1;
    background: rgb(255 255 255 / 90%);
    backdrop-filter: blur(8px);
}

#employee-name-display{
    position: relative;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 40px;
    height: 5.2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-decoration: underline;
}

#wedd-logo-display {
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url('../../images/name-tag-jpg.jpg');
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 40px;
}

/* Admin Account Nametag */

#admin-name-tag{
    position: relative;
    left: 44%;
    top: 4%;
    height: 10rem;
    background-color: white;
    width: 30rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 10px 45px 0px #2b2b2bd1;
    background: rgb(255 255 255 / 90%);
    backdrop-filter: blur(8px);
}

#admin-name-display{
    position: relative;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 40px;
    height: 5.2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-decoration: underline;
}

#admin-logo-display {
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url('../../images/name-tag-jpg.jpg');
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 40px;
}



/* Customer Account Nametag */
#account-name-tag{
    position: relative;
    left: 44%;
    top: 4%;
    height: 10rem;
    background-color: white;
    width: 30rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 10px 45px 0px #2b2b2bd1;
    background: rgb(255 255 255 / 90%);
    backdrop-filter: blur(8px);
}

#account-name-display{
    position: relative;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 40px;
    height: 5.2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-decoration: underline;
}

#account-logo-display {
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url('../../images/name-tag-jpg.jpg');
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 40px;
}

@media screen and (max-width:1280px){
    #employee-name-tag{
        left: 45.5%;
    }
}
@media screen and (max-width:1024px){
    #employee-name-tag{
        left: 40.5%;
    }
    #admin-name-tag{
        left: 39.5%;
    }
    #account-name-tag{
        left: 39.5%;
    }
    
}
@media screen and (max-width:767px){
    #employee-name-tag, #admin-name-tag{
        left: 36%;
    }
    #account-name-tag{
        left: 35.5%;
    }
}
@media screen and (max-width: 414px){
    #employee-name-tag, #admin-name-tag, #account-name-tag{
        left: 3.5%;
        top: 15%;
        width: 24rem;
    }
}
@media screen and (max-width:390px){
    #employee-name-tag, #admin-name-tag {
        left: 9%;
        top: 15%;
        width: 20rem;
        height: 8rem;
    }
    #account-name-tag {
        left: 22%;
        top: 6%;
        width: 20rem;
        height: 8rem;
    }

    #wedd-logo-display, #admin-logo-display, #account-logo-display {
        height: 4rem;
        font-size: 28px;
        width: 100%;
        margin-left: 0%;
    }

    #employee-name-display, #admin-name-display, #account-name-display{
        font-size: 28px;
        width: 100%;
        margin-left: 0%;
    }
}
@media screen and (max-width:375px){
    #employee-name-tag, #admin-name-tag{
        left: 7.5%;
        top: 15%;
        width: 20rem;
        height: 8rem;
    }

}