/* Customer account Home css */
.profile-container{
    position: relative;
    left: 20%;
    width: 80%;
    height: 100vh;
}

#profile-h3 {
    position: relative;
    color: black;
    font-size: 5ch;
     
}

.changepass{
    position: relative;
    top: 7%;
    
    
}
#profile-image-wrapper {
    background-color: grey;
    border-radius: 1em;
    height: 190px;
    width: 160px;
}
.deleteacc{
    position: relative;
    top:13%;

}
.confirmation{
    position: fixed;
    left: 45%;
    top: -100px;
    transition: all 0.5s ease;
}

.confirmation-visible{
    position: fixed;
    left: 45%;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 10px 10px 0px #2b2b2bd1;
    transition: all 0.5s ease;
    width: 22vw;
    height: 15vh;
}
#old_password{
    position: relative;
    left: 4.2ch;
}
#new_password_field{
    position: relative;
    left: 3.2ch;
}
#profile-image{
    position: relative;
    left: 3%;
    top: 2%;
    width: 150px;
}
#line{
    position: relative;
    right: 6%;
}
.trip-table{
    width: 60%;
    position: relative;
    margin-left:-10%;
    margin-top: 5%;
    
}
#logo-wrapper {
    display: inline-block;
}

#cancel-end-shift-btn:hover {
    transition: all 0.3s ease-out;
    background: #ff7248;
    color: #fff;
    transition: 250ms;

}

/* Customer account settings and privacy css */
.settings-container{
    position: relative;
    left: 25%;
    width: 80%;
    height: 100vh;
}

.settings-table {
    position: relative;
    top: 25%;
    left: 40%;
}

/* Customer account Help and Support css */
.help-container {
    position: relative;
    left: 25%;
    width: 80%;
    height: 100vh;
}

.FAQ{
    position: relative;
    top: 5%;
}

.contact-wedd {
    position: relative;
    width: 100%;
    height: 30vh;
    top:10%;
}

/* Customer account Trip history css */
.trip-container {
    position: relative;
    left: 25%;
    width: 80%;
    height: 100vh;
}
.trip-table {
    position: relative;
    left: 32%;
    top: 15%;
}

/* FAQ css */
.faq-container{
    position: relative;
    left: 25%;
    width: 80%;
    height: 100vh;
}
li{
    list-style: none;
    
}
#submit{
    position: relative;
    top: 2rem;
    left: 5rem;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}
#submit:hover{
    transition: all 0.3s ease-out;
    background: #ff7248;
    color: #fff;
    transition: 250ms;
}
