:root {
    --first-component: 100vh;
}

body{
    overflow-x: hidden;
}

h3{
    color: white;
    font-size: 6rem;
}

.tag-line{
    padding-top: calc(((var(--first-component) / 5)));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-container{
    padding: calc(((var(--first-component) - 85vh))) calc(((var(--first-component) - 90vh))) calc(((var(--first-component) - 85vh))) calc(((var(--first-component) - 90vh)));
    margin-top: calc(((var(--first-component) / 5)));
    border-radius: 3px;
    background: #ccccccec;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    transition: 0.5s;
}

.form-container:hover{
    background: #fff;
}
input[type='text']{
    border: 0;
    border-bottom: 2px solid rgb(44, 44, 44);
    font-size: 16px;
    background: transparent;
    outline: none;
    width: 100%;
    padding: 15px 0 15px 0;
}

.form-head{
    font-size: 42px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.form-component{
    padding: 10px 0 10px 0;
}

.submit-btn input{
    padding: 12px 18px;
    border-radius: 7px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    background: black;
    color: white;
    font-size: 16px;
    margin-top: 38px;
    margin-bottom: -20px;
}