.update-container{
  position: sticky;
  background-color: white;
  top: 18%;
  left: 100%;
  width: 2.1em;
  height: 2.2em;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  transition: all 0.5s ease;
  z-index: 998;
}

.update-active{
  position: sticky;
  background-color: white;
  margin-right: -1px;
  top: 18%;
  left: 100%;
  width: 15em;
  height: 2.2em;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-right: 0;
  border-bottom: 0;
  transition: all 0.5s ease;
  z-index: 998;
}

.update-links {
  overflow-x: hidden;
  position: absolute; 
  padding-left: 1em;
  padding-top: 1em;
  margin-top: 0.45em;
  margin-left: -0.45em;
  left: 180%;
  transition: all 0.5s ease;
  border-bottom-left-radius: 0.8em;
  background-color: white;
  width: 15em;


}

.update-links-active {
  position: sticky; 
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.45em;
  margin-left: -0.5em;
  border-bottom-left-radius: 0.8em;
  background-color: white;
  width: 15.1em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-top: 0;
}

.news-circle{
  position: relative;
  left: 15%;
  top: 15.5%;
  border-radius: 0.5em;
  width: 1.5em;
  height: 1.5em;
  border-color: rgb(33, 82, 187);
  border-style: solid;
  border-width: 2.5px;
}

.news-circle-active{
  position: relative;
  left: 2%;
  top: 15.5%;
  border-radius: 0.5em;
  width: 1.5em;
  height: 1.5em;
  border-color: rgb(33, 82, 187);
  border-style: solid;
  border-width: 2.5px;
}

.fa-solid.fa-angle-right{
  position: relative;
  top: 2%;
  left: 25%;
}

.fa-solid.fa-angle-down {
  position: relative;
  top: 2%;
  left: 14%;
}

#update-h3 {
  font-size: 1em;
  color: black;
  text-align: center;
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: black;
}

.cardnews__item {
  list-style: none;
  text-align: center;
  border-style: solid;
  border-top: 1px;
  border-right: 0px;
  border-left: 0px;
  border-color: black;
}

@media only screen and (max-device-width: 479px) {
  .update-container{
    position:fixed;
    background-color: white;
    top: 15%;
    left: 94.5%;
    width: 2.1em;
    height: 2.2em;
    
  }
  
}
