.contact-container{
    position: relative;
    margin: 10% auto;
    width: 600px;
    height: 61rem;
    background: #FFF;
    border-radius: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#contact-top {
    position: relative;
    
    bottom: 50%;
    text-align: center;
}

#contact-location {
    position: relative;
    left: 0.2%;
    bottom: 50%;
    text-align: center;
}

#contact-middle {
    position: relative;
    width: 350px;
    top: 32%;
    left: 22.5%;
}

#contact-bottom {
    padding-top: 1em;
    position: relative;
    top: 50%;
    left: 2%;
    text-align: center;
    height: 7vh;
}

#commenti {
    position: relative;
    left:9%;
}


h2#font-format  {
    color: orangered;
    font-weight: 300;
}

#checklist-wrapper{ 
    margin-bottom: 0.5em;
}
#contact-label {
    position: relative;
    left: 15%;
}

input[type="radio"] {
    position: relative;
    left: 13%;

}

#contact-info {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

input[id="contact-input"] {
  display: block;
  position: relative;
  left: 26%;
  box-sizing: border-box;
  margin-bottom: 1.2em;
  padding: 0.25em;
  width: 18.3rem;
  height: 2em;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[id="contact-input"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[id="contact-submit"] {
    position: relative;
    top: 90%;
    right: 31.5%;
    width: 120px;
    height: 2.5em;
    background: #16a085;
    border: none;
    border-radius: 2em;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[id="contact-submit"]:hover,
  input[id="contact-submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[id="contact-submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
    }

