@import url('https://unpkg.com/leaflet@1.9.2/dist/leaflet.css');
@import url('https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css');
@import url('https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css');
@import url('https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

#map {
    height: 50vh;
    width: 50vw;
}
.navbar {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
}
.navbar h1 {
    padding-right: 20px;
}
.navbar li {
    margin-top: 22px;
}
.navbar_item {
    list-style: none;
    padding: 10px;
}
.navbar_item a {
    font-size: 20px;
    color: black;
}
.footer {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.leaflet-touch .leaflet-control-geocoder {
    visibility: hidden;
}