nav {
  left: 1.5%;
  width: 97%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  z-index: 999;
  top: 0;
}

#navbar {
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0px 10px 45px 0px #2b2b2bd1;
  background: rgb(255 255 255 / 90%);
  backdrop-filter: blur(8px);
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
}

.navbar-logo {
  color: #e64c1b;
  justify-self: start;
  margin-left: 20px;
  margin-bottom: 0.8rem;
  width: 6rem;
  cursor: pointer;
  text-decoration: none;
  padding-top: 15px;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #e64c1b;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links-active {
  border-bottom: 4px solid #e64c1b;
}

.nav-links:hover {
  border-bottom: 4px solid #e64c1b;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: Black;
}

.nav-links-mobile {
  display: initial;
}

.menu-icon {
  display: none;
}

#login-active {
  display: none;
}

@media screen and (min-width: 960px) {
  .visible {
    /* display: flex; */
    top: 0;
    transition: top 0.2s ease-out;
  }
  
  .hidden {
    /* display: none; */
    top: -120px;
    transition: top 0.2s ease-out;
  }
}

@media screen and (max-width: 959px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 5rem;
    right: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    position: fixed;
    background: #242222;
    width: 100vw;
    right: -5%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    color: #fff;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    border-bottom: 4px solid #fff;
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: relative;
    bottom: 35%;
    width: 1.3rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    position: relative;
    right: 1%;
    color: black;
    font-size: 2rem;
  }

}

@media screen and (max-width:768px ) and (min-width: 480px) {
  nav {
    left: 1.5%;
    width: 525px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    z-index: 999;
    top: 0;
  }
}


@media only screen and (max-width: 390px) {


  #navbar {
    width: 380px;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: initial;
    position: fixed;
    background: #242222;
    right: -41px;
    height: 65vh;
    width: 395px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar-logo {
    left: 42%;
  }

  .menu-icon {
    top: 17px;
  }

  #login-active {
    display: initial;
  }
}

