  .ride-container {
    position: relative;
    margin: 20% auto;
    width: 37.5rem;
    height: 38rem;
    background: #FFF;
    border-radius: 2rem;
    box-shadow: 0rem 0.063rem 0.25rem rgba(0, 0, 0, 0.4);
  }

  .ride-left {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 18.75rem;
    height: 25rem;
  }

  .ride-right {
    position: relative;
    bottom: 25.1rem;
    left: 18rem;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 18.75rem;
    height: 25rem;
    background-size: cover;
    background-position: center;
}

.ride-bottom {
  position: relative;
  bottom: 27.5rem;
  left: 2.625rem;
  height: 15vh;
  width: 86%;
}

  #ride-contact {
    color: black;  
    margin: 0rem 0rem 1.25rem 0rem;
    font-weight: 400;
    font-size: 1.75rem;
  }

input[id="ride-input"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  padding: 0.25rem;
  width: 13.75rem;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.938rem;
  transition: 0.2s ease;
}

input[id="ride-input"]:focus{
  border-bottom: 0.125rem solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[id="ride-submit"] {
    position: relative;
    left: 35%;
    bottom: 3rem;
    margin-top: 4.3rem;
    width: 9em;
    height: 2.5rem;
    background: #16a085;
    color: #FFF;
    border: none;
    border-radius: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;

  }

input[id="ride-submit"]:hover,
input[id="ride-submit"]:focus {
  opacity: 0.8;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input [id="ride-submit"]:active {
    opacity: 1;
    box-shadow: 0rem 0.063 0.125rem rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.ride-location {
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
    color: black;
    font-weight: 400;
}

.payment-type {
    color: black;  
    margin: 0 0 1.25rem 0;
    font-weight: 400;
    font-size: 1.75rem;
    text-align: center;
}


.ride-checklist {
  position: relative;
}

input[type="radio"] {
  position: relative;
  left: 41%;
}
#payment-label {
    position: relative;
    left: 42%;

}

.paymenterror-msg {
  width: 10rem;
  position: relative;
  right: 6.8rem;
  top: 0rem;
  color: red;
}