.parent-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* align-items: center; */
}
.child-container{
    top: 0;
    display: block;
    width:50vw;
    height: 100vh;
    top: 0;
    position: absolute;
}
.ride-background-img{
    z-index: -5;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.ride-conatiner-right{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
#ride-with{
    position: relative;
    margin-top: -13%;
    font-size: 5rem;
    color: white;
    text-decoration: underline overline dotted rgb(202, 203, 90);  
    font-weight: 500;
}

.ride-container {
    position: relative;
    margin: 17% auto;
    width: 37.5rem;
    height: 38rem;
    background: none;
    
   
  }

  .ride-background {
    height: 100%;
  }

  .ride-left {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 18.75rem;
    height: 25rem;
  }

  .ride-right {
    position: relative;
    bottom: 25.1rem;
    left: 15rem;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 18.75rem;
    height: 25rem;
    background-size: cover;
    background-position: center;
}

.ride-bottom {
  position: relative;
  bottom: 27.5rem;
  left: 2.625rem;
  height: 19vh;
  width: 86%;
}

  #ride-contact {
    color: white;  
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
  }

input[id="ride-input"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  padding: 0.25rem;
  width: 13.75rem;
  height: 2rem;
  border: none;
  color: white;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  transition: 0.2s ease;
}

input[id="ride-input"]:focus{
  border-bottom: 0.125rem solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[id="ride-submit"] {
    position: relative;
    left: 35%;
    bottom: 3rem;
    margin-top: 4.3rem;
    width: 9em;
    height: 2.8rem;
    background: #16a085;
    color: #FFF;
    border: none;
    border-radius: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;

  }

input[id="ride-submit"]:hover,
input[id="ride-submit"]:focus {
  opacity: 0.8;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input [id="ride-submit"]:active {
    opacity: 1;
    box-shadow: 0rem 0.063 0.125rem rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.ride-location {
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
    color: black;
    font-weight: 400;
}

.payment-type {
  position: relative;
    color: #000000;  
    margin: 0 0 0.15rem 0;
    font-weight: 300;
    font-size: 0.75rem;
    text-align: left;
    right: 32%;
}

.car-type{
  position:relative;
  color: black;  
  margin: 0 0 0.0rem 0;
  font-weight: 300;
  font-size: 1.75rem;
  text-align: right;
  bottom: 68%;
  right: 13%;
}

.payment-right {
    position: absolute;
    width: 100px;
    height: 4rem;
    bottom: 4rem;
    left: 57%;
    
}

.payment-right {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0ch;
 
}

.car-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0ch;
  

}

.car-left {
  position: absolute;
  width: 6px;
  height: 3rem;
  bottom: 2.5rem;
  left: 59%;
  
}

.ride-checklist {
  position: relative;
  width: 3em;
  margin-left: 2em;
}

.car-checklist {
  position: relative;
  width: 3em;
  margin-left: 2em;
  /* top:-90px;
  bottom: 20px;
  left: 20%;
  margin-right: 10px; */
  
}

.payment-label {
  position: relative;

}

#car-label {
  position: relative;
  top: -2.25ch;
  left: 7ch;
}

input[id="ride-submit"] {
  position: absolute;
  top: 100px;
  /* right: 205px; */
}

#discount_code{
  position: relative;
  right: 1%;
  width: 7rem;
  border: 1px solid #d2d2d2;
  padding: 7px 0;
  border-radius: 2px;
  text-align: center;
}

.discount-code-div{
  position: relative;
  left: 39%;
  top: 15%;
}

.submit-btn-div{
  position: relative;
  bottom: 50%;
}

#ride,#ride1,#ride3{
  margin-top: 0ch;
}

#car,#car1{
  margin-top: 5ch;
}
#car2{
position: relative;
top: -2.5ch;
left: 0.5ch;
}
#car-label1{
  position: relative;
  left:7ch;
  top:-4ch;
}

#ride-submit{
  margin-top: 5ch;
}

.paymenterror-msg {
  position: relative;
  left: 34%;
  color: red;
}

@media screen and (max-width:768px ), (min-width: 480px){

  
.ride-container {
  position: relative;
  margin: 25% auto;
  width: 29.5rem;
  height: 35rem;
  
}
#discount_code{
  width: 7rem;
  right:5%
}




.payment-type {
   position: relative;
  margin-top: -18%;
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
  color: black;
  font-weight: 300;
  margin-left: 30%;
}
.ride-location {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
  color: black;
  font-weight: 300;
  margin-right: 10%;
}



.payment-left {

  display: flex;
  
  flex-direction: column;
  justify-content: space-around;
  align-items: initial;
  
} 

input[id="ride-submit"] {
  
  left: 35%;
  width: 7em;
  height: 1.5rem;
  font-weight: 300;
  font-size: 1rem;
  top: 60px;;
  
}
.car-type{
  position: relative;
 margin-top: -4%; 
}

}

@media screen and (max-device-width:479px){
  
  .ride-container {
    position: relative;
    margin: 30% auto;
    width: 32rem;
    height: 35rem;
    
  }

  .ride-location {
  
    font-size: 1.75rem;
    color: black;
    font-weight: 400;
   
  }

  input[id="ride-input"] {
 
    margin-bottom: 1rem;
    padding: 0%;
    width: 7.75rem;
    height: 1rem;
    font-weight: 200;

  }

 .payment-type {
  color: black;  
  margin: 0 0 1rem 0;
  font-weight: 200;
  font-size: 1.20rem;
  text-align: left;
  left: 2%;
}


.car-type{
color: black;  
margin: 0 0 1rem 0;
font-weight: 200;
font-size: 1.20rem;
text-align: right;
right: 25%;
bottom: 81%;
}

.payment-right {
  position: absolute;
  width: 20px;
  height: 4rem;
  bottom: 9rem;
  left: 57%;
  margin-right: 2%;
}

.car-left {
  position: absolute;
  width: 0px;
  height: 2.5rem;
  bottom: 1rem;
  left: 60%;
  margin-right: 1%;
}


.ride-checklist {

  width: 2em;
  margin-left: 2em;
}

.car-checklist {
  
  margin-left: 2em;
 
}

input[id="ride-submit"] {
  
  left: 34%;
  top: 20px;;
  
}
#discount_code{
  width: 6rem;
  right:4%;
  top: -30px;
}


}

@media screen and (max-device-width:375px){

  .ride-container {
    position: relative;
    width: 90vw;
    height: 82vh;
    background: #FFF;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  #ride-contact{
    position: relative;
    font-size: 1.5em;
    margin-left: -3ch;
    font-weight: 300;
    margin-right: auto;
  }
  .ride-location{
    position: relative;
     font-size: 1.5em;
    margin-left: 0ch;
    font-weight: 300;
    margin-right: auto;
  }
  .ride-left {
    position: relative;
    top: -3ch;
    left: 20%;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 18.75rem;
    height: 25rem;
  }
  .ride-right {
    position: relative;
    margin-top: 29%;
    left: 20%;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 18.75rem;
    height: 25rem;
    
}
.payment-type{
  font-weight: 300;
 position: relative;
  font-size: 1.5em;
 left: -6%;
 margin-right: auto;
}
.payment-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: initial;
  margin-left: 15%;
  
} 
.payment-type{
  margin-left: 20%;
  margin-top: -55%;
}

.car-type{
  margin-right: 25%;
  margin-top: 55%;
}
.car-left{
 position: relative;
 margin-top: -28%;
 left: 25%;
}
#discount_code{
  position: relative;
  margin-top: 2ch;
  margin-left: -10%;
}
#ride-submit{
  position: relative;
  top: 5ch;
  margin-left: -10%;
}

input[id="ride-input"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  padding: 0.25rem;
  width: 8rem;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 1.1em;
  font-size: 1.4ch;
  transition: 0.2s ease;
}
.car-type{
  font-weight: 300;
   position: relative;
  font-size: 1.5em;
  left:-40%;
  margin-right: auto;
}
#car2{
  position: relative;
  top:-2.4ch;
  left:0.4ch
}
#car-label1{
  position: relative;
  left:7ch;
  top:-4ch;
}
#car-checklist{
  position: relative;
 
}
.car-left{
  position: relative;
  top:-3ch;
}
.discount-code-div{
  position: relative;
  top:-0.5ch;
}

}
