@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

#signupform-container {
  position: relative;
  margin: 10% auto;
  width: 32.375rem;
  height: 33.5rem;
  background: #FFF;
  border-radius: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.signup-left {
  position: relative;
  box-sizing: border-box;
  bottom: 50%;
  left: 25.5%;
  width: 18.75rem;
  height: 28.75rem;
}

#signup-h1 {
  color: rgb(3, 3, 3);  
  margin: 1em 0em;
  font-weight: 400;
  font-size: 3rem;
  padding: 0;
  position: relative;
  right: -15%;
}

input[id="signup-input"],
input[id="signup-password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  padding: 0.25rem;
  width: 17rem;
  height: 1.1rem;
  border: none;
  border-bottom: 0.063rem solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  transition: 0.2s ease;
}

input[id="signup-input"]:focus,
input[id="signup-password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[id="signup-submit"] {
  position: relative;
  left: 20%;
  margin-top: 0.5em;
  width: 9em;
  height: 2.5em;
  background: #16a085;
  border: none;
  border-radius: 1.5em;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease;
  cursor: pointer;
}

input[id="signup-submit"]:hover,
input[id="signup-submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
 
}

input[id="signup-submit"]:active {
  opacity: 1;
  box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.signup-right {
  position: relative;
  box-sizing: border-box;
  bottom: 70%;
  left: 25.5%;
  width: 15.75rem;
  height: 15.75rem;
}

.signup-right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: orangered;
  text-align: center;
  margin-top: -1.5ch;
}


button.social-signin {
  margin-bottom: 0.5rem;
  width: 17rem;
  height: 2.5rem;
  border: none;
  border-radius: 2rem;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
 
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
  
}

button.social-signin.Apple {
  background: black;
}

button.social-signin.google {
  background: #DD4B39;
}

#login-link-container{
  width: 30vh;
  position: relative;
  left: 27%;
  margin-top: 2ch;
  bottom: 9%;
}

#haveAccount {
  margin-right: 0.35rem;
}

#Facebook-login {
  position: relative;
  right: 0.5rem;
}
#Apple-login  {
  position: relative;
  right: 1.2rem;
}
#Google-login {
  position: relative;
  right: 0.7rem;
}

#signup-link-container {
  position: relative;
  bottom: 8%;
  left: 29.5%;
  margin-top: -9ch;
}

.divider{
  background-color: rgb(108, 108, 108);
  height: 1px;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20ch;
}

.login-route {
  margin-left: 0.5vh;
} 

#login-text{
  margin-top: 0.5ch;
}

@media screen and (max-width: 768px) and (min-width: 480px){

  #signupform-container {
    margin: 20% auto;
    width: 25.375rem;
    height: 25.5rem;
  }

   .signup-left {
    left: 25.5%;
    width: 12.75rem;
    height: 25.75rem;
  } 

  #signup-h1 {
    font-weight: 300;
    font-size: 2rem;
    right: 5%;
  }

  button.social-signin {
    width: 13rem;
    height: 1.5rem;
    border: none;
    border-radius: 2rem;
   
  }
  .signup-right {
    
    left: 26.5%;
    width: 13.75rem;
    height: 11.50rem;
  }

  input[id="signup-input"],
  input[id="signup-password"] {
  width: 14rem;
  margin-left: -3%;
  height: 1rem;
 
  font-weight: 200;
  font-size: 1em;
}

input[id="signup-submit"] {
  margin-top: 0.5em;
  width: 9em;
  height: 1.5em;
  left:15%;
  font-size: 1rem;
  font-weight: 300;
}

#signup-link-container {
  bottom: 10%;
  left: 25%;
}
}


@media only screen and (max-device-width: 375px){

#signup-h1 {
    font-weight: 400;
    font-size: 2rem;
    position: relative;
    left: 2%;
}

  #signupform-container {
    position: relative;
    right: 1%;
    margin: 30% auto;
    width: 19.375rem;
    height: 24rem;
  }
  
  #signup-h1{
    position: relative;
    margin-left: 2ch;
  }
  .signup-left {
    left: 15.5%;
    width: 12.75rem;
    height: 24.75rem;
    font-weight: 300;
  } 

  .signup-right {
    left: 15.5%;
    width: 13.75rem;
    height: 11.50rem;
  }

  button.social-signin {
    width: 13rem;
    height: 1.5rem;
    border: none;
    border-radius: 2rem;
  }

  input[id="signup-input"],
  input[id="signup-password"] {
    width: 12rem;
    height: 1rem;
    font-weight: 200;
    font-size: 1em;
  }
  
  input[id="signup-submit"] {
    margin-top: 1em;
    width: 50%;
    position: relative;
    height: 1.5em;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .login-route {
    margin-left: 0.2vh;
  } 

  .divider{
    position: relative;
    top: 1ch;
    width: 250px;
  }

  #signup-link-container {
    bottom: 7%;
    left: 12%;
  }
}