.vertical-navbar{
    position: fixed;
    display: inline-block;
    background: rgb(255 255 255 / 90%);
    box-shadow: 0px 0px 16px 0px #2b2b2bd1;
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 16rem;
}

.vert-nav-h1 {
    position: sticky;
    top: 2rem;
    color: #e64c1b;
}

.Vert-Nav-Links{
    color: rgb(18, 18, 18);
    display: flex;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    width: 16rem;
    padding: 0.3rem 1rem;
    margin-bottom: 5px;
    height: 100%;
}

.Vert-Nav-Active{
    background: rgb(214, 212, 212);
    color: black;
    border-style: solid;
    border-color: #e64c1b;
    border-width: 4px;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
}

.Vert-Nav-Links:hover {
    color: black;
    border-right: 4px solid #e64c1b;
    transition: all 0.2s ease-out;
}

.link-wrapper {
    list-style: none;
    display: inline-block;
    position: relative;
    top: 6rem;
    border-style: solid;
    border-width: 1px;
    border-right: 0;
    border-left: 0;
}

.logout-wrapper{
    position:fixed;
    display: inline-block;
    height: 2.9em;
    width: 16rem;
    background-color: #002d72;
    bottom: 0;
    left: 0;
}

#logo-wrapper {
    position: sticky;
    top: 2.5rem;
    width: 14rem;
    height: 4rem;
}

#vert-logo {
    position: sticky;
    margin-left: 2rem;
    margin-top: 2ch;
    font-size: 4rem;
    text-decoration: none;
    color: #e64c1b;
}

#logout-button{
    position: relative;
    top: 0.5rem;
    left: 5rem;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

#logout-button:hover{
    transition: all 0.3s ease-out;
    background: #ff7248;
    color: #fff;
    transition: 250ms;
}
